<!DOCTYPE html>
<html lang="en">
    <Head>
            <% if (htmlWebpackPlugin.options.trackJSToken) { %>
                <!-- BEGIN TRACKJS -->
                <script type="text/javascript">window._trackJs = { token: '<%=htmlWebpackPlugin.options.trackJSToken%>' };</script>
                <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
                <!-- END TRACKJS -->
                <% } %>
        <meta charset="UTF-8">
        <script></script>
    </Head>
    <body>
            <h1>Welcome to Catholic Bible Trivia 2019!</h1>


        
    </body>
</html>